# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env

# Deployment files
deployments.txt
lib/

.trigger


node_modules/

test/Playground.t.sol
